@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body, html {
        background-image: linear-gradient(to bottom, #5f2c82 , #49a09d) ;
    }

    section#login {
        height: 280px;
        width: 80vw;
        padding-bottom: 0;
        display: flex;
    }

    section#login > div#imagem {
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        width: 70%;
    }

      div.campo > input {
        transform: translateY(-10px);
    }

    form > div.campo {
        background-image: linear-gradient(to top,#49a09d , #40807d ) ;
        border: 2px solid #49a09d;
    }

}

@media screen and (min-width: 992px) {
    body, html {
        background-image: linear-gradient(to bottom, #5f2c82 , #49a09d) ;
    }

    section#login {
        padding-bottom: 0;
        width: 950px;
        height: 350px;
        display: flex;
    }

    section#login > div#imagem {
        order: 1;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        width: 50%;
    }

    div#formulario > p  {
        font-size: 1em;
        margin-bottom: 20px;
    }

    div#formulario > h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    div.campo > input {
        transform: translateY(-10px);
    }

    form > div.campo {
        background-image: linear-gradient(to top,#49a09d , #40807d ) ;
        border: 2px solid #49a09d;
    }
}